{% extends "base.html" %}

{% block body_content %}
<h1>YOUR CREDENTIALS</h1>
<form action="/GetAllGroupsaUserIsaMemberOf" method="POST">
    <div class="form-row">
        <label for="searched_user">USER NAME:</label>
        <input type="text" id="searched_user" name="searched_user">
    </div>

    <input type="submit" value="SEARCH">
</form>

<div style="margin-top: 50px;"></div>
{% if result and result['groups'] %}
    <h2>Groups:</h2>
    <ul>
        {% for group in result['groups'] %}
            <li>{{ group }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No groups</p>
{% endif %}

<style>
    .form-row {
        margin-bottom: 25px;
    }

    label {
        display: inline-block;
        width: 180px;
    }

    input[type="text"], input[type="password"] {
        padding: 5px;
        width: 200px;
        font-family: inherit;
        font-size: 16px;
        box-sizing: border-box;
    }

    table {
        width: 80%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f0f0f0;
    }
</style>
{% endblock %}
