{% extends "base.html" %}

{% block body_content %}
<h1>YOUR CREDENTIALS</h1>
<form action="/GetChangeHistoryOfaGivenGroup" method="POST">
    <div class="form-row">
        <label for="pole1">USERNAME:</label>
        <input type="text" id="username" name="username">
    </div>

    <div class="form-row">
        <label for="pole2">PASSWORD:</label>
        <input type="password" id="password" name="password">
    </div>

    <h1>SEARCHED GROUP</h1>
    <div class="form-row">
        <label for="pole3">GROUP NAME:</label>
        <input type="text" id="group_name" name="group_name">
    </div>

    <input type="submit" value="SEARCH">
</form>

{% if username and password and group_name %}
    <p>Otrzymano dane: {{ username }}, {{ password }}, {{ group_name }}</p>
{% endif %}
{% if result %}
    <table border="1">
        <thead>
            <tr>
                {% for key in result[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    {% for value in row.values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<style>
    .form-row {
        margin-bottom: 25px;
    }

    label {
        display: inline-block;
        width: 120px;
    }

    input[type="text"], input[type="password"] {
        padding: 5px;
        width: 200px;
        font-family: inherit;
        font-size: 16px;
        box-sizing: border-box;
    }
</style>
{% endblock %}