{% extends "base.html" %}

{% block body_content %}

<form action="/PullMembersOfAgroup" method="POST">

    <h1>SEARCHED GROUP</h1>
    <div class="form-row">
        <label for="pole3">GROUP NAME:</label>
        <input type="text" id="group_name" name="group_name">
    </div>

    <input type="submit" value="SEARCH">
</form>

{% if username and password and group_name %}
    <p>Otrzymano dane: {{ username }}, {{ password }}, {{ group_name }}</p>
{% endif %}
{% if result %}
    <ul>
    {% for user in result['users'] %}
        <li>{{ user }}</li>
    {% endfor %}
    </ul>
{% endif %}
<style>
    .form-row {
        margin-bottom: 25px;
    }

    label {
        display: inline-block;
        width: 180px;
    }

    input[type="text"], input[type="password"] {
        padding: 5px;
        width: 200px;
        font-family: inherit;
        font-size: 16px;
        box-sizing: border-box;
    }
</style>
{% endblock %}
